@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: gray;
}

.header {
    padding: 15px;
    position: sticky;
    margin-bottom: 10px;
    top: 0;
    background-color: black;
    color: white;
    text-align: left;
    font-family: "Montserrat";
}

.header a {
    padding: 0px 30px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.sectionStyle {
    display: flex;
    flex-direction: row;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}